@import url('https://fonts.googleapis.com/css?family=Lato');

$lato-font: 'Lato', sans-serif;

body{
  background: #ffffff;
}

.navbar{
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: -30px 10px -6px -6px #999;
}
